.callout-auth {
  text-align: center;
  background-color: #FFF;
  border: 1px solid $sm-blue;
  padding: 2rem;

  h3, p {
    margin-bottom: 2rem;
  }

  .button-github {
    background-color: #4078c0;
  }
}
